@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&display=swap');

/*## Colors

### Primary

- Light Cyan: hsl(193, 38%, 86%)
- Neon Green: hsl(150, 100%, 66%)

### Neutral

- Grayish Blue: hsl(217, 19%, 38%)
- Dark Grayish Blue: hsl(217, 19%, 24%)

## Typography

### Body Copy

- Font size (quote): 28px*/

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body{
  background-color: hsl(217, 19%, 24%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  
  width: 80vw;
  height: 60vh;
  background-color: hsl(217, 19%, 38%);
}
