@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap');

/*## Colors

### Primary

- Light Cyan: hsl(193, 38%, 86%)
- Neon Green: hsl(150, 100%, 66%)

### Neutral

- Grayish Blue: hsl(217, 19%, 38%)
- Dark Grayish Blue: hsl(217, 19%, 24%)

## Typography

### Body Copy

- Font size (quote): 28px*/

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", "san-serif";
}

.body{
  background-color: hsl(217, 19%, 24%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card{
  width: 65vw;
  height: 60vh;
  background-color: hsl(217, 19%, 38%);
  position: relative;
}

.advice{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.advice-id{
  font-size: 15px;
  color: #5af65a;
  padding-left: 10px;
}

.advice-body{
  font-weight: 500;
  font-size: 28px;
  color: white;
}
.bfr-btn{
  justify-items: center;
  justify-content: center;
}

.button{
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
  position: absolute;
  top: 93.5%;
  left: 45%;
}
